h1 {
    color: rgb(129, 0, 0);
}
ul {
    text-decoration: none;
    list-style-type: none;
}
a {
    font-size: larger;
    word-spacing: .5em;
    color: rgb(216, 216, 216);
    text-decoration: none;
}
#nav1 {
    border-color: black;
    background-color:rgb(128, 13, 13) ;
}