h1 {
    color: rgb(129, 0, 0);
}
ul {
    text-decoration: none;
    list-style-type: none;
}
#nav1 a {
    
    background-color:rgb(128, 13, 13) ;
    color: rgb(216, 216, 216);
    text-decoration: none;

}