html {
    background-color: rgb(221, 221, 221);
    padding: auto;
}
main {
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1 {
    color: rgb(129, 0, 0);
}
ul {
    text-decoration: none;
    list-style-type: none;
}
#secondarylist ul a {
    text-align: left;
    color: #111c58;
}
a {
    font-size: larger;
    word-spacing: .5em;
    color: rgb(216, 216, 216);
    text-decoration: none;
}
#nav1 {
    border-color: black;
    background-color:rgb(128, 13, 13) ;
}
main {
    border: 2px solid #501d1d; /*dark burg*/
    border-radius: 3em; /*rounds out corners of corders*/
    text-align: center;
    padding: 20px;/*adding some space inside the card*/
    margin: 20px; /*adding some space outside the card*/
    background-color:#e9b3b3; /*light burg*/
}
/*changes h2 elements to burgundy*/
h2 {
    color: #690e0e;
}
/*changes p elements dark grey*/
p {
    color: rgb(29, 29, 29);
}
/*changes id second/h3 to burgundy*/
#second h3 {
    color: #690e0e;
}
/*aligns h2 to left margin*/
.about h2 {
    text-align: left;
}
/*aligns secondarylist id /ul element to left*/
#secondarylist ul {
    text-align: left;
}
/*creates burgundy background to footer*/
footer {    
    background-color: #690e0e;
}
/*div id foot p text change to light red*/
#foot p{ 
    color: #e9b3b3;
}
/*id form a changes text color to navy*/
#form a {
    color: #111c58;
}
/*conditional styling for hover state*/
a:hover {
    background-color: #da9797; /*Bright burgundy background color*/
    color: rgb(105, 21, 21); /*burgundy text color*/
}
/*Styling the button*/
button {
    padding: 5px 10px; /*adding some space inside the button*/
    border: none; /*removing the border*/
    background-color: #ecf0f1; /*light gray background color*/
    cursor: pointer; /*changing the cursor to a pointer*/
    transition: all 0.3 ease; /*adding a transition*/
}
/*condition styling for the hover state*/
button:hover {
    background-color: red; /*red background color*/
}
/*Adds the border around the table*/
table {
    border: 1px solid black;
    border-collapse: collapse;
    border: 1px solid black;
    margin: .5em auto;
}
/*Adds border around the content*/
th, td {
    border: 1px solid rgb(146, 146, 146);
    padding: .2em .7em;
    text-align: right; 
    & left {
        text-align: left;
    }
}
/*creates white text for thead*/
thead {
    color: #cba4f0;

}
/*aligns content of tbody to the right and left*/
tbody { 
    color: #dddddd;
        border: 1px black;
    padding: .2em .7em;
    text-align: right; 
    & left {
        text-align: left;
    }

}
/*Centers the text inside of thead*/
th:first-child, td:first-child {
    text-align: center;
    background-color: #363d66;
}
th:nth-child(2), td:nth-child(2) {
    text-align: center;
    background-color: #363d66;
}
/*changes text alignment for id who*/
#who {
    text-align: left;
}
#what {
    text-align: left;
}
#history
{
    text-align: left;
}
#future {
    text-align: left;
}


